.App {
  text-align: center;
}

.App .editor {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  color: #0e4b16;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MuiButton-contained.Mui-disabled {
  color: 'white' !important;
  background-color: 'green' !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 959px) {
  .edit_container {
    width: 100%;
  }

  .editor .MuiFormControl-root {
    width: 65vw !important;
  }
}